*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: rgba(23, 23, 23, 0.9);
	overflow-x: hidden;
	/*
	background-image: url('../img/bodyParallax.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	*/
	


}

header{
	margin: 5px auto;
}


.navbar-brand{
	background-image:url('../../img/logo.png');
	width: 150px;
	height: 90px;
	background-repeat: no-repeat;
}


.navbar.navbar-expand-lg{
	background-color: rgba(23, 23, 23, 0.5);
	border-radius: 7px;
}


.nav-link{
 color: black;
 font-weight: 800;
}
.nav-link:hover{
 color: white;
}

#conteudo{
	width: 50%;
	height: auto;
	margin: 80px auto;

}


#conteudo h3{
	color: white;
	font-weight: 800;
	text-align: center;
}
./* Basic styles */



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #212121;
  margin: 10px;
}

header {
  text-align: center;
}

h1,
h2 {
  font-weight: normal;
  border-bottom: 1px dotted #bdbdbd;
  padding-bottom: 2px;
  display: inline-block;
}



.especificacoes{
	width: 180px;
	background-color: rgba(23, 23, 23, 0.5);
	padding: 10px;
	margin: 10px auto;
	border-radius: 15px;
}
.especificacoes h6{
	font-size: 9px;
	color: orange;
	text-align: center;
}

.especificacoes h4{

	font-size: 18px;
	color: white;
	text-align: center;
}

.acessorios{
	margin-top: 5%;
	border: 1px solid rgba(23, 23, 23, 0.9);
	background-color: rgba(23, 23, 23, 0.9);
	border-radius: 10px;

}
.acessorios h3{
	color: white;
	text-align: center;
		color: white;
	font-weight: 800;
	margin-bottom: 5%;
}
.acessorios ul {
	list-style: none;
	text-align: left;
}
.acessorios ul li {
	text-decoration: none;
	margin: 5px;
	color: white;
	font-weight: 800;
	}

footer{
	 border-top: 1px solid rgba(23, 23, 23, 0.5);
	 padding-top: 5%;
	 margin-top: 5%;

}


footer ul {
	list-style: none;
}


footer ul li {
	display: inline-block;
	margin: 10px;
	color: white;
}

footer ul li a{
	color: white;
	font-family:'Droid sans' sans-serif;
	text-decoration: none;
}
footer ul li a:hover{
color: #ffb900;
}